<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title><%= assigns[:page_title] || "Nine Men Morris" %></title>
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
      <%= csrf_meta_tag() %>
   </head>
   <body>
         <svg
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            width="700"
            height="700" viewBox="-330 -330 660 660">
            <script type="text/javascript" src="js/app.js"></script>

            <rect x="-330" y="-330" width="660" height="660" style="fill:#ffffcc; stroke:none;" />
            <g style="stroke:#333333; stroke-width:10; fill:none;">
               <rect x="-300" y="-300" width="600" height="600" />
               <rect x="-200" y="-200" width="400" height="400" />
               <rect x="-100" y="-100" width="200" height="200" />
               <line x1="0" y1="-300" x2="0" y2="-100" />
               <line x1="0" y1=" 300" x2="0" y2=" 100" />
               <line x1="-300" y1="0" x2="-100" y2="0" />
               <line x1="300" y1=" 0" x2="100" y2=" 0" />
            </g>
            <circle class="a0" fill="black" cx="-300" cy="300"  r="15" />
            <circle class="a3" fill="black" cx="-300" cy="0"    r="15" />
            <circle class="a6" fill="black" cx="-300" cy="-300" r="15" />
            <circle class="b1" fill="black" cx="-200" cy="200"  r="15" />
            <circle class="b3" fill="black" cx="-200" cy="0"    r="15" />
            <circle class="b5" fill="black" cx="-200" cy="-200" r="15" />
            <circle class="c2" fill="black" cx="-100" cy="100"  r="15" />
            <circle class="c3" fill="black" cx="-100" cy="0"    r="15" />
            <circle class="c4" fill="black" cx="-100" cy="-100" r="15" />
            <circle class="d0" fill="black" cx="0"    cy="300"  r="15" />
            <circle class="d1" fill="black" cx="0"    cy="200"  r="15" />
            <circle class="d2" fill="black" cx="0"    cy="100"  r="15" />
            <circle class="d4" fill="black" cx="0"    cy="-100" r="15" />
            <circle class="d5" fill="black" cx="0"    cy="-200" r="15" />
            <circle class="d6" fill="black" cx="0"    cy="-300" r="15" />
            <circle class="e1" fill="black" cx="100"  cy="100"  r="15" />
            <circle class="e2" fill="black" cx="100"  cy="0"    r="15" />
            <circle class="e3" fill="black" cx="100"  cy="-100" r="15" />
            <circle class="f1" fill="black" cx="200"  cy="200"  r="15" />
            <circle class="f2" fill="black" cx="200"  cy="0"    r="15" />
            <circle class="f3" fill="black" cx="200"  cy="-200" r="15" />
            <circle class="g0" fill="black" cx="300"  cy="300"  r="15" />
            <circle class="g3" fill="black" cx="300"  cy="0"    r="15" />
            <circle class="g6" fill="black" cx="300"  cy="-300" r="15" />
         </svg>

   </body>
</html>
